body {
	  background: -webkit-linear-gradient(rgb(219, 224, 246), rgb(171, 196, 248), rgb(113, 113, 255)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(219, 224, 246), rgb(171, 196, 248), rgb(113, 113, 255)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(219, 224, 246), rgb(171, 196, 248), rgb(113, 113, 255)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(219, 224, 246), rgb(171, 196, 248), rgb(113, 113, 255)); /* Standard syntax */
}

nav {
	text-align: center;
  margin: auto;
  font-size: 40px;

}

nav a {
	background-color: #DF8D29;
	padding: 2px;
  border: 1px solid black;
  margin: 5%;
  display: block;
  box-shadow: 10px 10px 5px #246009;
}

nav li {
  list-style: none;
}

aside {
  width: 30%;
  float: left;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: auto;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover, a:active {
	font-size: 150%;
  color: #0B7503;
  text-decoration: underline;
}

#about {
	width: 45%;
	font-size: 32px;

}

#assets {
	width: 65%;
	font-size: 120%;
}

ul {
	list-style: none;
}

#about, #assets {
	font-family: serif;
  margin: auto;
  border: 1px solid black;
	background-color: #DF8D29;
	box-shadow: 10px 10px 5px #236008;
	border-radius: 2px;
  text-align: center;
  padding: 10px;
  margin-bottom: 2%;
}

#game {
  border:3px solid blue;
  background: url("images/background.png");
  background-repeat: no-repeat;
  background-size: 700px 550px;
  position: relative;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
	display: block;
}

#title {
	font-family: serif;
	width: 75%;
  margin: auto;
  font-weight: bolder;
  font-size: 500%;
  animation-name: intro;
  animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes intro {
	0%   {color: red;}
	20%  {color: yellow;}
	40% {color: green;}
	60%  {color: blue;}
	80%  {color: purple;}
	100%  {color: orange;}
}


#title, #game {
	border: 1px solid black;
	background-color: #DF8D29;
	box-shadow: 10px 10px 5px #246009;
	border-radius: 2px;
	text-align: center;
}
